#Header {
  background-image: url("../assets/room4.jpg");
  width: 100%;
  background-size: cover;
  color: white;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  gap: 4rem;
  z-index: 2;
}
nav {
  margin-top: 1rem;
  z-index: 2;
  margin-left: 8rem;
}

nav ul {
  display: flex;
  font-size: 2rem;
  gap: 3rem;
}
button {
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  z-index: 2;
  margin-top: 2rem;
}

nav ul li {
  list-style: none;
}
#logo {
  z-index: 2;
}
#logo img {
  width: 12rem;
  z-index: 2;
}
#text {
  text-align: center;
  margin-top: 13rem;
  margin-right: 20rem;
  font-size: 2rem;
}
#text h2 {
  z-index: 2;
}

#cover {
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 14, 14, 0.4);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}
#nav__area {
  display: flex;
  gap: 5rem;
}

#menu {
  display: none;
}
/* Mobile Devices */
/** MEDIA QUERIES **/
@media (max-width: 600px) {
  #nav__area {
    display: none;
  }
  #icon {
    z-index: 2;
  }
  #menu {
    z-index: 2;
    display: block;
  }
  #menu a {
    color: black;
    text-decoration: none;
  }
  #menu ul li {
    list-style: none;
  }
  #menubox {
    margin-top: -2rem;
    margin-left: -6rem;
    width: 7rem;
    text-align: center;
    z-index: 3;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #logo img {
    width: 5rem;
  }
  #Header {
    background-image: url("../assets/room4.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
    top: 0;
    left: 0;
  }
  #menu {
    display: block;
    color: white;
    position: absolute;
    left: 90%;
    margin-top: 2rem;
  }
}
